body {
  background-color: #e6e6e6;
  font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
  height: 100%;
  margin: 0;
  padding: 0; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.header {
  height: 100px; }

.btn-refresh {
  border-radius: 50%;
  color: white;
  background-color: #4caf50;
  height: 4rem;
  width: 4rem; }

.currency {
  cursor: pointer;
  text-align: center;
  width: 90px; }

.table-body > tr > td {
  font-size: 0.8rem;
  text-align: center; }

.current-price {
  margin-bottom: 2em; }
  .current-price .label {
    font-weight: bold;
    margin-right: 1em;
    text-transform: uppercase; }
  .current-price .last-updated {
    font-style: italic;
    font-size: 0.8em; }
